{% extends 'base.html' %}

{% block title %}Nowy wpis - Blood Journal{% endblock %}

{% block content %}
<h1>Dodaj nowy wpis</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.blood.label }}<br>
        {{ form.blood() }}
    </p>
    <p>
        {{ form.note.label }}<br>
        {{ form.note() }}
    </p>
    <p>{{ form.submit(class_="btn-submit") }}</p>
</form>

<a href="{{ url_for('blood.dashboard') }}" class="btn-link">Powrót do panelu</a>
{% endblock %}
